.app-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  /* font-size: 24px; */
  text-align: center;
  padding: 16px;
}

.m-r {
  margin-right: 10px;
}
